.title-font {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  color: black;
}

.Language{ 
  font-size: 17.5px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  color: grey;
}
/*
Settings for buttons.
*/
.button_container{
  display: flex;
  margin-left: auto;
  gap: 5px;
  flex-direction: row-reverse;
}
.button{
  display: inline-block;
  background-color: #567b95;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  height: 25px;
}


.lines {
  border: none;
  height: 1px;
  margin: 5px auto;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 20px;
}

.grid-item {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 20px;
  font-family: Georgia;
}

.grid-item:nth-child(3n) {
  border-right: none;
}

.grid-item:nth-child(n+4) {
  border-bottom: none;
}


.date-format {
  font-size: 17px;
  color: black;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.footer {
  text-align: center;
  color: gray;
}

.images {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Organizing the grids */

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item {
    border-left: none;
    border-right: none;
  }
  .grid-item:not(:nth-child(2n)) {
    border-right: 1px solid grey;
  }
  .grid-item:nth-child(-n+4) {
    border-bottom: 1px solid grey;
  }
  
  .grid-item:nth-child(5),
  .grid-item:nth-child(6) {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
  
  .grid-item {
    border-bottom: 1px solid grey;
    border-right: none !important;
    border-left: none !important;
  }
  .grid-item:nth-child(5) {
    border-bottom: 1px solid grey;
  }
  .grid-item:nth-child(6) {
    border-bottom: none;
  }
} 